openai==1.37.1
loguru==0.7.2
tqdm==4.66.2
regex==2023.12.25
python-dotenv==1.0.1
tiktoken==0.8.0
bz2file==0.98
aiohttp>=3.9.0,<4.0.0
apscheduler>=3.10.4,<4.0.0
arxiv>=2.0.0,<3.0.0
beautifulsoup4>=4.12.2,<5.0.0
charset-normalizer>=3.3.2,<4.0.0
class-registry>=2.1.2,<3.0.0
docx>=0.2.4,<1.0.0
fastapi==0.109.2
func-timeout>=4.3.5,<5.0.0
google-api-python-client>=2.111.0,<3.0.0
gradio>=4.11.0,<5.0.0
httpx>=0.25.2,<1.0.0
jsonlines>=4.0.0,<5.0.0
loguru==0.7.2
markdown>=3.5.1,<4.0.0
networkx==3.2.1
openai>=1.6.0,<2.0.0
opencv-python>=4.8.1.78,<5.0.0
openpyxl>=3.1.2,<4.0.0
pandas>=1.5.3,<2.0.0
pydantic>=2.5.3,<3.0.0
pylatexenc>=2.10,<3.0.0
pypdf2>=3.0.1,<4.0.0
python-docx>=1.1.0,<2.0.0
python-pptx==0.6.23
pytube==15.0.0
pyvis==0.3.2
pyyaml==6.0.1
requests>=2.31.0,<3.0.0
scipy>=1.12.0,<2.0.0
seaborn>=0.13.1,<1.0.0
Pyrebase4
sentence-transformers
shortuuid==1.0.11
tenacity>=8.2.3,<9.0.0
termcolor>=2.4.0,<3.0.0
tqdm>=4.66.1,<5.0.0
transformers>=4.36.2,<5.0.0
wikipedia>=1.4.0,<2.0.0
astunparse>=1.6.3,<2.0.0
async-timeout>=4.0.3,<5.0.0
regex
wandb==0.19.1
more-itertools

